* {
    box-sizing: border-box;
}

body {
    background-color: rgb(237, 237, 237);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 200px;
}

.container,
main {
    max-width: 980px;
    margin: 0 auto;
}

.header {
    border-bottom: solid silver;
}

.name {
    background-color: rgb(0, 184, 184);
    padding: 31.5%;
    border: double rgb(202, 202, 202);
    color: white;
    font-size: 28px;
    font-weight: bolder;
}

main {
    padding: 2% 3.5%;
}

.projects {
    width: auto fill; 
    height: 280px;
    border-bottom: 1px solid grey;
}

.card-title {
    text-decoration: underline;
}

a:link {
    color: teal;
}

a:visited {
color: rgb(0, 184, 184);
}

a:hover {
color: teal;
}

/* selected link */
/* a:active {
color: yellow;
} */

footer {
    max-width: 0 auto;
    padding: 30px;
    clear: both;
    font-size: 14px;
    text-align: center;
    background: #666;
    border-top: 8px solid #4aaaa5;
    color: white;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
    .container,
    main {
        max-width: 768px;
    }

    .projects {
        width: auto fill; 
        height: 210px;
        border-bottom: 1px solid grey;
    }
}

@media screen and (max-width: 640px) {
    .container,
    main {
        max-width: 640px;
    }
    
    .card-deck {
        width: 630px;
    }

    main {
        padding-left: 4%;
    }

    .card-text {
        font-size: 13px;
    }

    .projects {
        width: auto fill; 
        height: 200px;
        border-bottom: 1px solid grey;
    }
}